<% allBooks.forEach(function(b){
    %>
<div id="deleteEmployeeModal<%=b._bookID%>" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/deleteEmployee/<%=b._bookID %> ">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee
                        <%=b._bookID %>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

Edit Modal HTML
<div id="editEmployeeModal<%=b._bookID%>" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/editEmployee/<%=b._bookID %>" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>_ID</label>
                        <input type="text" name="editID" value="<%= b._bookID %>" class="form-control" readonly="true">
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" name="edit" value="<%= b.tieude %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tác giả</label>
                        <input type="email" name="editEmail" value="<%= item.email %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="editAddress" required><%= item.address %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="editPhone" value="<%= item.phone %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <img class="thumbnail rounded-circle|" alt="" src="<%=item.urlImage%>" width="100%">
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<%
    });
    %>