<% include ../alayout/aheader.ejs %>


<body>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/admin" style="color:white">
                            <h2>Manage <b>Books</b></h2>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                            <span>Add New Book</span></a>

                        <!--  <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
                                <span>Delete</span></a>  -->
                    </div>

                    <form class="col-sm-6" action="/aSearchBook" method="POST">
                        <br />
                        <input type="text" class="form-control" name="txtSearch123123" aria-describedby="helpId" value=""
                            required placeholder="Input Employee name or id ..">
                        <small id="helpId" style="color:gainsboro" class="form-text text-muted">Seach Book by name
                            or id
                        </small>
                        <button type="submit" class="btn btn-success" style="margin-top:2px"><i class="material-icons">search</i>
                            <span>Search</span></button>
                        <a href="/admin" class="btn btn-success" style="margin-top:2px"><i class="material-icons">refresh</i>
                            <span>Reset</span></a>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Tác giả</th>
                        <th>Nhà xuất bản</th>
                        <th>Giá</th>
                        <th>URL Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% allBooks.forEach(function(b){
                        %>
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>
                            <%=b._bookID %>
                        </td>
                        <td>
                            <%=b.tieude %>
                        </td>
                        <td>
                            <%=b.tacgia %>
                        </td>
                        <td>
                            <%=b.nhaxuatban %>
                        </td>
                        <td>
                            <%=b.gia %> dong
                        </td>
                        <td>
                            <%=b.hinhanh[0] %>
                        </td>
                        <td>
                            <a href="#editEmployeeModal<%=b._bookID%> " class="edit" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal<%=b._bookID%>" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <%
                        });
                        %>
                </tbody>

            </table>
            <% allBooks.forEach(function(b){
                %>
            <div id="deleteEmployeeModal<%=b._bookID%>" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/deleteBook/<%=b._bookID %> ">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Book ID:
                                    <%=b._bookID %>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Edit Modal HTML -->
            <div id="editEmployeeModal<%=b._bookID%>" class="modal fade">
                <div class="modal-dialog" style="max-width:auto">
                    <div class="modal-content" style="width:700px">
                        <form action="/editBook/<%=b._bookID %>" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Book</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>_bookID</label>
                                    <input type="text" name="edit_bookID" value="<%= b._bookID %>" class="form-control"
                                        readonly="true">
                                </div>
                                <div class="form-group">
                                    <label>SKU</label>
                                    <input type="text" name="editSKU" value="<%=b.SKU%>" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <input type="text" name="editTieuDe" value="<%=b.tieude%>" class="form-control"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Tác giả</label>
                                    <input type="text" name="editTacGia" value="<%=b.tacgia%>" class="form-control"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Dịch giả</label>
                                    <input type="text" name="editDichGia" value="<%=b.dichgia%>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Thể loại</label>
                                    <input type="text" name="editTheLoai" value="<%=b.theloai%>" class="form-control"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Tình trạng</label>
                                    <input type="text" name="editTinhTrang" value="<%=b.tinhtrang%>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Ngày thêm</label>
                                    <input type="text" name="editNgayThem" value="<%=b.ngaythem%>" class="form-control"
                                        readonly="true">
                                </div>

                                <div class="form-group">
                                    <label>Ngôn ngữ</label>
                                    <input type="text" name="editNgonNgu" value="<%=b.ngonngu%>" class="form-control"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Thời gian xuất bản</label>
                                    <input type="text" class="form-control" name="editNgayXuatBan" value="<%=b.ngayxuatban%>"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Nhà xuất bản</label>
                                    <input type="text" class="form-control" name="editNhaXuatBan" value="<%=b.nhaxuatban%>">
                                </div>
                                <div class="form-group">
                                    <label>Số trang</label>
                                    <input type="text" class="form-control" name="editSoTrang" value="<%=b.sotrang%>">
                                </div>
                                <div class="form-group">
                                    <label>Kích thước</label>
                                    <input type="text" class="form-control" name="editKichThuoc" value="<%=b.kichthuoc%>">
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea class="form-control" name="editMoTa" style="min-height: 100px; max-height: 300px"
                                        required><%=b.mota%></textarea>
                                </div>
                                <div class="
                                        form-group">
                                    <label>Đánh dấu</label>
                                    <input type="text" class="form-control" name="editDanhDau" value="<%=b.danhdau%>">
                                </div>
                                <div class="form-group">
                                    <label>PATH SEO</label>
                                    <input type="text" name="editLinkSeo" value="<%=b.linkseo%>" class="form-control"
                                        readonly="true">
                                </div>
                                <div class="form-group">
                                    <label>Giá</label>
                                    <input type="text" class="form-control" name="editGia" value="<%=b.gia%>" required>
                                </div>

                                <div class="form-group">
                                    <label>Hình ảnh</label>
                                    <div class="form-group">
                                        <img class="thumbnail rounded-circle|" alt="" src="<%=b.hinhanh[0]%>" width="100%">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="reset" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-info" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%
                });
                %>
            <script type="text/javascript">
                function ValidateExtension() {
                    var allowedFiles = [".jpg", ".jpeg", ".png", ".gif", ".bmp"];
                    var fileUpload = document.getElementById("newImgUpload");
                    var btnAdd = document.getElementById("btnAdd");
                    var lblError = document.getElementById("lblError");
                    var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
                    var maxfilesize = 3 * 1024 * 1024; // 3 Mb
                    var filesize = fileUpload.files[0].size;
                    lblError.innerHTML = "";
                    btnAdd.disable = false;
                    if (filesize < maxfilesize) {
                        if (regex.test(fileUpload.value.toLowerCase())) {
                            lblError.innerHTML = "";
                            btnAdd.disable = false;
                            btnAdd.style.backgroundImage = "rgb(236, 240, 241)"
                            return true;
                        } else {
                            lblError.innerHTML =
                                "Vui lòng chọn file có tên phù hợp chỉ chứa chữ, số, các kí tự cho phép _-. và có định dạng: <b>" +
                                allowedFiles.join(', ') + "</b>  !";
                            btnAdd.disable = true;
                            return false;
                        }
                    } else {
                        lblError.innerHTML = "Vui lòng chọn file có kích thước nhỏ hơn 3MB " + "</b> !";
                        btnAdd.disable = true;
                        return false;
                    }
                }
            </script>
            <div id="addEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/addNewBook" method="POST" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Book</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>SKU</label>
                                    <input type="text" name="newSKU" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <input type="text" name="newTieuDe" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Tác giả</label>
                                    <input type="text" name="newTacGia" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Dịch giả</label>
                                    <input type="text" name="newDichGia" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Thể loại</label>
                                    <input type="text" name="newTheLoai" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Ngôn ngữ</label>
                                    <input type="text" name="newNgonNgu" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Thời gian xuất bản</label>
                                    <input type="text" class="form-control" name="newNgayXuatBan" required>
                                </div>
                                <div class="form-group">
                                    <label>Nhà xuất bản</label>
                                    <input type="text" class="form-control" name="newNhaXuatBan" required>
                                </div>
                                <div class="form-group">
                                    <label>Số trang</label>
                                    <input type="text" class="form-control" name="newSoTrang" required>
                                </div>
                                <div class="form-group">
                                    <label>Kích thước</label>
                                    <input type="text" class="form-control" name="newKichThuoc">
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea class="form-control" name="newMoTa" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Đánh dấu</label>
                                    <input type="text" class="form-control" name="newDanhDau">
                                </div>
                                <div class="form-group">
                                    <label>Giá</label>
                                    <input type="text" class="form-control" name="newGia" required>
                                </div>
                                <div class="form-group">
                                    <label>Hình ảnh</label>
                                    <input type="file" name="newImgUpload" id="newImgUpload" class="form-control"
                                        accept="image/gif, image/jpeg, image/jpg, image/png" required onchange="return ValidateExtension()">
                                    <p id="lblError" style="color:red"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="reset" class="btn btn-default" data-dismiss="modal" value="Cancel" onclick="this.form.reset()">
                                <input type="submit" class="btn btn-success" id="btnAdd" value="Add" onclick="return ValidateExtension()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <% var shownumber;
                                if(allBooks.length <= 10 ){
                                    shownumber=allBooks.length;
                                }
                                else{
                                    shownumber=10;
                                }
                            %>
                <div class="hint-text">Showing <b>
                        <%=shownumber %></b> out of <b>
                        <%= allBooks.length %></b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>

        </div>

    </div>
    <!-- Edit Modal HTML -->

    <!-- Delete Modal HTML -->


</body>

</html>