<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Data Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ../alayout/aheader.ejs%>
        <!-- Left side column. contains the logo and sidebar -->
        <% include ../alayout/anav.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
             <section class="content-header">
                <h1>
                    ĐƠN HÀNG
                    <small>quản lý</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/admin"><i class="fa fa-dashboard"></i> Admin</a></li>
                    <li class="active">Danh sách đơn hàng</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-body">
                            <div class="col-md-6">
                                <h4><i class="fa fa-list"></i> &nbsp; Danh sách đơn hàng</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày lập</th>
                                            <th>Tên người nhận</th>
                                            <th>Email</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                            <th>Lựa chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%allOrder.forEach(function(b){
                                        %>
                                        <tr>
                                            <td style="width: 20%">
                                                <%=b._orderID%>
                                            </td>
                                            <td style="width: 10%">
                                                <%=b.ngaylaphoadon%>
                                            </td>
                                            <td style="width: 17%">
                                                <%=b.tennguoinhan%>
                                            </td>
                                            <td style="width: 20%">
                                                <%=b.email%>
                                            </td>
                                            <td style="width: 10%">
                                                    <%=editName.formatNumber(b.tongtienthanhtoan,'.',',')%>
                                            </td>
                                            <td style="width: 14%; ">
                                                <%
                            var tagdd="";
                                switch (b.tinhtranghienhanh) {
                                case 'Bị huỷ':
                                    tagdd="btn-danger";
                                    break;
                                case 'Chờ xác nhận':
                                    tagdd="btn-gray";
                                    break;
                                case 'Đã xác nhận':
                                    tagdd="bg-teal-active color-palette";
                                    break;
                                case 'Chấp nhận đơn hàng':
                                    tagdd="btn-primary";
                                    break;
                                case 'Đang đóng gói sản phẩm':
                                    tagdd="bg-purple-active color-palette";
                                    break;
                                case 'Đang giao hàng':
                                    tagdd="btn-warning";
                                    break;
                                case 'Hoàn tất':
                                    tagdd="btn-success";
                                    break;
                                default:
                                    break;
                                }
                            %>
                                                <button type="button" class="btn <%=tagdd%> btn-flat btn-xs">
                                                    <%=b.tinhtranghienhanh%></button>

                                            </td>
                                            <td style="width: 17%;">
                                                <a href="/admin/order/detail/<%=b._orderID%>" title="Xem chi tiết"
                                                    class="view btn btn-sm btn-primary pull-right"><i class="fa fa-eye"></i> Xem chi tiết</a>
                                            </td>
                                        </tr>
                                        <%
                    })%>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày lập</th>
                                            <th>Tên người nhận</th>
                                            <th>Email</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                            <th>Lựa chọn</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Trang </b> quản lý
            </div>
            <strong>Copyright &copy; 2014-2016.</strong> All rights
            reserved.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
 <!-- page script -->
    <script>
        $(function () {
      $('#example1').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        "order": [[ 1, "desc" ]]
      })
    })
    </script>
</body>

</html>