<div class="top-bar top-bar-v3">
    <div class="col-full">
        <ul id="menu-top-bar-left" class="nav menu-top-bar-left">
            <li class="menu-item animate-dropdown">
                <a title="TechMarket eCommerce - Always free delivery" href="contact-v1.html">Nhà sách nhóm 11 &#8211;
                    luôn
                    bán sách cho bạn, chứ không bán cần</a>
            </li>
        </ul>
        <!-- .nav -->
        <ul id="menu-top-bar-right" class="nav menu-top-bar-right">
            <li class="hidden-sm-down menu-item animate-dropdown">
                <a title="Track Your Order" href="track-your-order.html">
                    <i class="tm tm-order-tracking"></i>Kiểm tra đơn đặt hàng</a>
            </li>
            <li class="menu-item">
                <a title="My Account" href="login-and-register.html">
                    <i class="tm tm-login-register"></i>Đăng ký hoặc đăng nhập</a>
            </li>
        </ul>
        <!-- .nav -->
    </div>
    <!-- .col-full -->
</div>
<!-- .top-bar-v2 -->
<header id="masthead" class="site-header header-v3" style="background-image: none; ">
    <div class="col-full desktop-only">
        <div class="techmarket-sticky-wrap">
            <div class="row">
                <div class="site-branding">

                    <a href="/" class="custom-logo-link" rel="home" style="font-size: 30px">
                        <strong>Trang chủ</strong> <i class="footer-newsletter-icon tm tm-newsletter"></i>
                    </a>

                    <!-- /.custom-logo-link -->
                </div>
                <!-- /.site-branding -->
                <!-- ============================================================= End Header Logo ============================================================= -->
                <% include menu%>
                <!-- .departments-menu -->
                <form class="navbar-search" method="get" action="home-v1.html">
                    <label class="sr-only screen-reader-text" for="search">Tìm kiếm:</label>
                    <div class="input-group">
                        <input type="text" id="search" class="form-control search-field product-search-field" dir="ltr"
                            value="" name="s" placeholder="Search for products" />
                        <div class="input-group-addon search-categories popover-header">
                            <select name='product_cat' id='product_cat' class='postform resizeselect'>
                                <option value='0' selected='selected'>Tất cả các thể loại</option>
                                <option class="level-0" value="television">Truyện tranh</option>
                                <option class="level-0" value="home-theater-audio">Truyện ngắn</option>
                                <option class="level-0" value="headphones">Truyện ngắn hơn</option>
                                <option class="level-0" value="digital-cameras">Truyện ngắn hơn nữa</option>
                                <option class="level-0" value="cells-tablets">Sách giáo khoa</option>
                            </select>
                        </div>
                        <!-- .input-group-addon -->
                        <div class="input-group-btn input-group-append">
                            <input type="hidden" id="search-param" name="post_type" value="product" />
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                                <span class="search-btn">Tìm</span>
                            </button>
                        </div>
                        <!-- .input-group-btn -->
                    </div>
                    <!-- .input-group -->
                </form>
                <!-- .header-wishlist -->
                <ul id="site-header-cart" class="site-header-cart menu">
                    <li class="animate-dropdown dropdown ">
                        <a class="cart-contents" href="/cart" data-toggle="dropdown" title="View your shopping cart">
                            <i class="tm tm-shopping-bag"></i>
                            <span class="count">
                                <%=totalQty%></span>
                            <span class="amount">
                                <span class="price-label">Giỏ hàng</span>
                                <%=totalPrice%> đồng</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-mini-cart">
                            <li>
                                <div class="widget woocommerce widget_shopping_cart">
                                    <div class="widget_shopping_cart_content">
                                        <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                            <%products.forEach(function(itc){
                                                    %>
                                            <li class="woocommerce-mini-cart-item mini_cart_item">
                                                <a href="/deletecart/<%=itc.item._bookID%>" class="remove" aria-label="Remove this item"
                                                    data-product_id="65" data-product_sku="">×</a>
                                                <a href="single-product-sidebar.html">
                                                    <img src="<%=itc.item.hinhanh[0]%>" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                        alt="">
                                                    <%=itc.item.tieude%>
                                                </a>
                                                <span class="quantity">
                                                    <%=itc.qty%> ×
                                                    <span class="woocommerce-Price-amount amount">
                                                        <%=itc.item.gia%> <span class="woocommerce-Price-currencySymbol">đồng</span></span>
                                                </span>
                                            </li>
                                            <% });%>
                                        </ul>
                                        <!-- .cart_list -->
                                        <p class="woocommerce-mini-cart__total total">
                                            <strong>Tổng tiền:</strong>
                                            <span class="woocommerce-Price-amount amount">
                                                <%=totalPrice%> <span class="woocommerce-Price-currencySymbol">đồng</span></span>
                                        </p>
                                        <p class="woocommerce-mini-cart__buttons buttons">
                                            <a href="/cart" class="button wc-forward">Xem giỏ hàng</a>
                                            <a href="checkout.html" class="button checkout wc-forward">Đặt hàng</a>
                                        </p>
                                    </div>
                                    <!-- .widget_shopping_cart_content -->
                                </div>
                                <!-- .widget_shopping_cart -->
                            </li>
                        </ul>
                        <!-- .dropdown-menu-mini-cart -->
                    </li>
                </ul>
                <!-- .site-header-cart -->
            </div>
            <!-- /.row -->
        </div>
        <!-- .techmarket-sticky-wrap -->
    </div>
    <!-- .col-full -->
    <div class="col-full handheld-only">
        <div class="handheld-header">
            <div class="row">
                <div class="site-branding">
                    <a href="home-v1.html" class="custom-logo-link" rel="home">
                        Trang chủ
                    </a>
                    <!-- /.custom-logo-link -->
                </div>
                <!-- /.site-branding -->
                <!-- ============================================================= End Header Logo ============================================================= -->
                <div class="handheld-header-links">
                    <ul class="columns-3">
                        <li class="my-account">
                            <a href="login-and-register.html" class="has-icon">
                                <i class="tm tm-login-register"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- .columns-3 -->
                </div>
                <!-- .handheld-header-links -->
            </div>
            <!-- /.row -->
            <div class="techmarket-sticky-wrap">
                <div class="row">
                    <nav id="handheld-navigation" class="handheld-navigation" aria-label="Handheld Navigation">
                        <button class="btn navbar-toggler" type="button">
                            <i class="tm tm-departments-thin"></i>
                            <span>Menu</span>
                        </button>
                        <div class="handheld-navigation-menu">
                            <span class="tmhm-close">Close</span>
                            <ul id="menu-departments-menu-1" class="nav">
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="Value of the Day" href="shop.html">Value of the Day</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="Top 100 Offers" href="shop.html">Top 100 Offers</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="New Arrivals" href="shop.html">New Arrivals</a>
                                </li>
                                <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown-submenu">
                                    <a title="Computers &amp; Laptops" data-toggle="dropdown" class="dropdown-toggle"
                                        aria-haspopup="true" href="#">Computers
                                        &#038; Laptops <span class="caret"></span></a>
                                    <ul role="menu" class=" dropdown-menu">
                                        <li class="menu-item menu-item-object-static_block animate-dropdown">
                                            <div class="yamm-content">
                                                <div class="bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                                                    <div class="kc-col-container">
                                                        <div class="kc_single_image">
                                                            <img src="assets/images/megamenu.jpg" class="" alt="" />
                                                        </div>
                                                        <!-- .kc_single_image -->
                                                    </div>
                                                    <!-- .kc-col-container -->
                                                </div>
                                                <!-- .bg-yamm-content -->
                                                <div class="row yamm-content-row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="kc-col-container">
                                                            <div class="kc_text_block">
                                                                <ul>
                                                                    <li class="nav-title">Computers &amp; Accessories</li>
                                                                    <li><a href="shop.html">All Computers &amp;
                                                                            Accessories</a></li>
                                                                    <li><a href="shop.html">Laptops, Desktops &amp;
                                                                            Monitors
                                                                        </a></li>
                                                                    <li><a href="shop.html">Pen Drives, Hard Drives
                                                                            &amp;
                                                                            Memory Cards</a></li>
                                                                    <li><a href="shop.html">Printers &amp; Ink</a></li>
                                                                    <li><a href="shop.html">Networking &amp; Internet
                                                                            Devices
                                                                        </a></li>
                                                                    <li><a href="shop.html">Computer Accessories</a></li>
                                                                    <li><a href="shop.html">Software</a></li>
                                                                    <li class="nav-divider"></li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="nav-text">All Electronics</span>
                                                                            <span class="nav-subtext">Discover more
                                                                                products
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- .kc_text_block -->
                                                        </div>
                                                        <!-- .kc-col-container -->
                                                    </div>
                                                    <!-- .kc_column -->
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="kc-col-container">
                                                            <div class="kc_text_block">
                                                                <ul>
                                                                    <li class="nav-title">Office &amp; Stationery</li>
                                                                    <li><a href="shop.html">All Office &amp; Stationery</a></li>
                                                                    <li><a href="shop.html">Pens &amp; Writing</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- .kc_text_block -->
                                                        </div>
                                                        <!-- .kc-col-container -->
                                                    </div>
                                                    <!-- .kc_column -->
                                                </div>
                                                <!-- .kc_row -->
                                            </div>
                                            <!-- .yamm-content -->
                                        </li>
                                    </ul>
                                </li>
                                <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown-submenu">
                                    <a title="Cameras &amp; Photo" data-toggle="dropdown" class="dropdown-toggle"
                                        aria-haspopup="true" href="#">Cameras
                                        &#038; Photo <span class="caret"></span></a>
                                    <ul role="menu" class=" dropdown-menu">
                                        <li class="menu-item menu-item-object-static_block animate-dropdown">
                                            <div class="yamm-content">
                                                <div class="bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                                                    <div class="kc-col-container">
                                                        <div class="kc_single_image">
                                                            <img src="assets/images/megamenu-1.jpg" class="" alt="" />
                                                        </div>
                                                        <!-- .kc_single_image -->
                                                    </div>
                                                    <!-- .kc-col-container -->
                                                </div>
                                                <!-- .bg-yamm-content -->
                                                <div class="row yamm-content-row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="kc-col-container">
                                                            <div class="kc_text_block">
                                                                <ul>
                                                                    <li class="nav-title">Cameras & Photography</li>
                                                                    <li><a href="shop.html">All Cameras & Photography</a></li>
                                                                    <li><a href="shop.html">Point & Shoot Cameras</a></li>
                                                                    <li><a href="shop.html">Lenses</a></li>
                                                                    <li><a href="shop.html">Camera Accessories</a></li>
                                                                    <li><a href="shop.html">Security & Surveillance</a></li>
                                                                    <li><a href="shop.html">Binoculars & Telescopes</a></li>
                                                                    <li><a href="shop.html">Camcorders</a></li>
                                                                    <li class="nav-divider"></li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="nav-text">All Electronics</span>
                                                                            <span class="nav-subtext">Discover more
                                                                                products
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- .kc_text_block -->
                                                        </div>
                                                        <!-- .kc-col-container -->
                                                    </div>
                                                    <!-- .kc_column -->
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="kc-col-container">
                                                            <div class="kc_text_block">
                                                                <ul>
                                                                    <li class="nav-title">Audio & Video</li>
                                                                    <li><a href="shop.html">All Audio & Video</a></li>
                                                                    <li><a href="shop.html">Headphones & Speakers</a></li>
                                                                    <li><a href="shop.html">Home Entertainment Systems</a></li>
                                                                    <li><a href="shop.html">MP3 & Media Players</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- .kc_text_block -->
                                                        </div>
                                                        <!-- .kc-col-container -->
                                                    </div>
                                                    <!-- .kc_column -->
                                                </div>
                                                <!-- .kc_row -->
                                            </div>
                                            <!-- .yamm-content -->
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item animate-dropdown">
                                    <a title="Gadgets" href="shop.html">Gadgets</a>
                                </li>
                                <li class="menu-item animate-dropdown">
                                    <a title="Virtual Reality" href="shop.html">Virtual Reality</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .handheld-navigation-menu -->
                    </nav>
                    <!-- .handheld-navigation -->
                    <div class="site-search">
                        <div class="widget woocommerce widget_product_search">
                            <form role="search" method="get" class="woocommerce-product-search" action="home-v1.html">
                                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:
                                </label>
                                <input type="search" id="woocommerce-product-search-field-0" class="search-field"
                                    placeholder="Search products&hellip;" value="" name="s" />
                                <input type="submit" value="Search" />
                                <input type="hidden" name="post_type" value="product" />
                            </form>
                        </div>
                        <!-- .widget -->
                    </div>
                    <!-- .site-search -->
                    <a class="handheld-header-cart-link has-icon" href="/cart" title="View your shopping cart">
                        <i class="tm tm-shopping-bag"></i>
                        <span class="count">
                            <%=products.totalQty%></span>
                    </a>
                </div>
                <!-- /.row -->
            </div>
            <!-- .techmarket-sticky-wrap -->
        </div>
        <!-- .handheld-header -->
    </div>
    <!-- .handheld-only -->
</header>
<!-- .header-v3 -->
<!-- ============================================================= Header End ============================================================= -->