<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Bán seesch</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/colors/blue.css" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/fav-icon.png">
</head>

<body class="woocommerce-active page-template-template-homepage-v5 can-uppercase">
    <div id="page" class="hfeed site">
        <% include ../slayout/headerhome %>
        <div id="content" class="site-content" tabindex="-1">
            <div class="col-full">
                <div class="row">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="homev5-slider-with-banners row">
                                <div class="slider-block column-1-slider-block">
                                    <div class="home-v5-slider home-slider">
                                        <div class="slider-1">
                                            <img src="assets/images/slider/home-v5-img-1-sachchobe.jpg" alt="">
                                            <div class="caption">
                                                <div class="title">Kho sách cho bé </div>
                                                <div class="sub-title">Mẹ đọc bé nghe, chú hàng xóm thức giấc 💕</div>
                                                <div class="button">Xem ngay
                                                    <i class="tm tm-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-1">
                                            <img src="assets/images/slider/home-v5-img-1-sachtu6k.jpg" alt="">
                                            <div class="caption">
                                                <div class="title">Tủ sách đồng giá 6,000 đồng </div>
                                                <div class="sub-title">Nhanh tay hốt sách giá rẻ, phong phú trong đợt
                                                    back to school nhé ❤ </div>
                                                <div class="button">Xem ngay
                                                    <i class="tm tm-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .homev5-slider-with-banners -->
                            <section class="section-top-categories section-categories-carousel" id="categories-carousel-1">
                                <header class="section-header">
                                    <h4 class="pre-title">Đặc sắc</h4>
                                    <h2 class="section-title">Các thể loại hàng đầu
                                        <br>tuần này</h2>
                                    <nav class="custom-slick-nav"></nav>
                                    <!-- .custom-slick-nav -->
                                    <a class="readmore-link" href="#">Tất cả các thể loại</a>
                                </header>
                                <!-- .section-header -->
                                <div class="product-categories-1 product-categories-carousel" data-ride="tm-slick-carousel"
                                    data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#categories-carousel-1 .custom-slick-nav&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}}]}">
                                    <div class="woocommerce columns-4">
                                        <div class="products">
                                            <% 
                                                var listCatelogies=[];
                                                allBooks.forEach(function(book){
                                                    if(listCatelogies.indexOf(book.theloai[0]) == -1){
                                                        listCatelogies.push(book.theloai[0]);
                                                    }
                                                });
                                                listCatelogies.forEach(function(cat){
                                                    %>
                                            <div class="product-category product first">
                                                <a href="product-category.html">
                                                    <img width="224" height="197" alt="All in One PC" src="assets/images/category/16.png">
                                                    <h2 class="woocommerce-loop-category__title">
                                                        <%=cat %>
                                                    </h2>
                                                </a>
                                            </div>
                                            <%
                                                });
                                                %>
                                        </div>
                                        <!-- .products -->
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <!-- .product-categories-carousel -->
                            </section>
                            <!-- .section-categories-carousel -->
                            <section class="section-single-carousel-with-tab-product type-2">
                                <div class="row">
                                    <section class="column-1-single-carousel section-single-carousel" id="section-single-carousel">
                                        <header class="section-header">
                                            <h2 class="section-title">Sách hot</h2>
                                            <nav class="custom-slick-nav"></nav>
                                            <!-- .custom-slick-nav -->
                                        </header>
                                        <!-- .section-header -->
                                        <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products"
                                            data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#section-single-carousel .custom-slick-nav&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}}]}">
                                            <div class="container-fluid">
                                                <div class="woocommerce columns-1">
                                                    <div class="products">
                                                        <% allBooks.forEach(function(book){
                                                            book.danhdau.forEach(function(dd){
                                                                if(dd=='hot'){
                                                                    %>
                                                        <div class="product">
                                                            <a href="/product" class="woocommerce-LoopProduct-link">
                                                                <img src="<%=book.hinhanh[0]%>" width="224" height="197"
                                                                    class="wp-post-image" alt="">
                                                                <span class="price">
                                                                    <ins>
                                                                        <span class="amount"> </span>
                                                                    </ins>
                                                                    <span class="amount">
                                                                        <%=book.gia%></span>
                                                                </span>
                                                                <!-- /.price -->
                                                                <h2 class="woocommerce-loop-product__title">
                                                                    <%=book.tieude%>
                                                                </h2>
                                                            </a>
                                                            <div class="hover-area">
                                                                <a class="button add_to_cart_button" href="/addtocart/<%=book._bookID%>"
                                                                    rel="nofollow">Add
                                                                    to cart</a>
                                                            </div>
                                                        </div>

                                                        <%
                                                        }
                                                        });
                                                        });%>
                                                    </div>
                                                </div>
                                                <!-- .woocommerce-->
                                            </div>
                                            <!-- .container-fluid -->
                                        </div>
                                        <!-- .products-carousel -->
                                    </section>
                                    <section class="column-2 section-products-carousel-tabs">
                                        <div class="section-products-carousel-tabs-wrap">
                                            <header class="section-header">
                                                <ul role="tablist" class="nav justify-content-end">
                                                    <li class="nav-item"><a class="nav-link active" href="#tab-59f89f0aed2fa0"
                                                            data-toggle="tab">Sách mới</a></li>
                                                    <li class="nav-item"><a class="nav-link " href="#tab-59f89f0aed2fa1"
                                                            data-toggle="tab">Đang khuyến mãi</a></li>
                                                    <li class="nav-item"><a class="nav-link " href="#tab-59f89f0aed2fa2"
                                                            data-toggle="tab">Sách hay đọc</a></li>
                                                </ul>
                                            </header>
                                            <div class="tab-content">
                                                <div id="tab-59f89f0aed2fa0" class="tab-pane active" role="tabpanel">
                                                    <div class="products-carousel" data-ride="tm-slick-carousel"
                                                        data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}}]}">
                                                        <div class="container-fluid">
                                                            <div class="woocommerce columns-3">
                                                                <div class="products">
                                                                    <% allBooks.forEach(function(book){
                                                                        book.danhdau.forEach(function(dd){
                                                                            if(dd=='new'){
                                                                    %>
                                                                    <div class="product">
                                                                        <a href="/product/<%=book.linkseo%>_<%=book._bookID%>"
                                                                            class="woocommerce-LoopProduct-link">
                                                                            <img src="<%=book.hinhanh[0]%>" width="224"
                                                                                height="197" class="wp-post-image" alt="">
                                                                            <span class="price">
                                                                                <ins>
                                                                                    <span class="amount"> </span>
                                                                                </ins>
                                                                                <span class="amount">
                                                                                    <%=book.gia%> </span>
                                                                            </span>
                                                                            <!-- /.price -->
                                                                            <h2 class="woocommerce-loop-product__title">
                                                                                <%=book.tieude %>
                                                                            </h2>
                                                                        </a>

                                                                        <div class="hover-area">
                                                                            <a class="button add_to_cart_button" href="/addtocart/<%=book._bookID%>"
                                                                                rel="nofollow">Add
                                                                                to cart</a>
                                                                        </div>
                                                                    </div>
                                                                    <% } })
                                                                        }) %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .container-fluid -->
                                                    </div>
                                                    <!-- .products-carousel -->
                                                </div>
                                                <!-- .tab-pane -->
                                                <div id="tab-59f89f0aed2fa1" class="tab-pane " role="tabpanel">
                                                    <div class="products-carousel" data-ride="tm-slick-carousel"
                                                        data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}}]}">
                                                        <div class="container-fluid">
                                                            <div class="woocommerce columns-3">
                                                                <div class="products">
                                                                    <% allBooks.forEach(function(book){
                                                                        book.danhdau.forEach(function(dd){
                                                                            if(dd=='sale'){
                                                                                %>
                                                                    <div class="product">
                                                                        <a href="/product" class="woocommerce-LoopProduct-link">
                                                                            <img src="<%=book.hinhanh[0]%>" width="224"
                                                                                height="197" class="wp-post-image" alt="">
                                                                            <span class="price">
                                                                                <ins>
                                                                                    <span class="amount"> </span>
                                                                                </ins>
                                                                                <span class="amount">
                                                                                    <%=book.gia%> </span>
                                                                            </span>
                                                                            <!-- /.price -->
                                                                            <h2 class="woocommerce-loop-product__title">
                                                                                <%=book.tieude %>
                                                                            </h2>
                                                                        </a>
                                                                        <div class="hover-area">
                                                                            <a class="button add_to_cart_button" href="/addtocart/<%=book._bookID%>"
                                                                                rel="nofollow">Add
                                                                                to cart</a>
                                                                            <!-- <a class="button add_to_cart_button" href="cart.html"
                                                                                rel="nofollow">Add
                                                                                to cart</a> -->
                                                                        </div>
                                                                    </div>
                                                                    <%}})
                                                                            }) %>
                                                                </div>
                                                            </div>
                                                            <!-- .woocommerce -->
                                                        </div>
                                                        <!-- .container-fluid -->
                                                    </div>
                                                    <!-- .products-carousel -->
                                                </div>
                                                <!-- .tab-pane -->
                                                <div id="tab-59f89f0aed2fa2" class="tab-pane " role="tabpanel">
                                                    <div class="products-carousel" data-ride="tm-slick-carousel"
                                                        data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}}]}">
                                                        <div class="container-fluid">
                                                            <div class="woocommerce columns-3">
                                                                <div class="products">
                                                                    <% allBooks.forEach(function(book){
                                                                            book.danhdau.forEach(function(dd){
                                                                                if(dd=='popular'){
                                                                                    %>
                                                                    <div class="product">
                                                                        <a href="/product" class="woocommerce-LoopProduct-link">
                                                                            <img src="<%=book.hinhanh[0]%>" width="224"
                                                                                height="197" class="wp-post-image" alt="">
                                                                            <span class="price">
                                                                                <ins>
                                                                                    <span class="amount"> </span>
                                                                                </ins>
                                                                                <span class="amount">
                                                                                    <%=book.gia%> </span>
                                                                            </span>
                                                                            <!-- /.price -->
                                                                            <h2 class="woocommerce-loop-product__title">
                                                                                <%=book.tieude %>
                                                                            </h2>
                                                                        </a>
                                                                        <div class="hover-area">
                                                                            <a class="button add_to_cart_button" href="/addtocart/<%=book._bookID%>"
                                                                                rel="nofollow">Add
                                                                                to cart</a>
                                                                            <!-- <a class="button add_to_cart_button" href="cart.html"
                                                                                    rel="nofollow">Add
                                                                                    to cart</a> -->
                                                                        </div>
                                                                    </div>
                                                                    <%}})
                                                                                }) %>
                                                                </div>
                                                            </div>
                                                            <!-- .woocommerce -->
                                                        </div>
                                                        <!-- .container-fluid -->
                                                    </div>
                                                    <!-- .products-carousel -->
                                                </div>
                                                <!-- .tab-pane -->
                                            </div>
                                            <!-- .tab-content -->
                                        </div>
                                        <!-- .section-products-carousel-tabs-wrap -->
                                    </section>
                                    <!-- .section-products-carousel-tabs -->
                                </div>
                            </section>
                            <!-- .section-single-carousel-with-tab-product -->
                            <div class="fullwidth-notice stretch-full-width">
                                <div class="col-full">
                                    <p class="message">Download our new app today! Dont miss our mobile-only offers and
                                        shop with Android Play.</p>
                                </div>
                                <!-- .col-full -->
                            </div>
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                    <!-- #Thanh ben trai -->
                    <div id="secondary" class="widget-area" role="complementary">
                        <div class="widget widget_techmarket_banner_widget">
                            <div class="banner">
                                <a href="shop.html">
                                    <div style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/side-1.png ); height: 207px;"
                                        class="banner-bg">
                                        <div class="caption">
                                            <div class="banner-info">
                                                <h3 class="title">
                                                    <strong>1000 mAh</strong>
                                                    <br>
                                                    <span>Power Bank Pro</span>
                                                </h3>
                                            </div>
                                            <!-- .banner-info -->
                                            <span class="price">$ 34.99</span>
                                            <span class="banner-action button">Buy Now</span>
                                        </div>
                                        <!-- .caption -->
                                    </div>
                                    <!-- .banner-bg -->
                                </a>
                            </div>
                            <!-- .banner -->
                        </div>
                        <!-- .widget_techmarket_banner_widget -->
                        <div class="widget widget_techmarket_banner_widget">
                            <div class="banner">
                                <a href="shop.html">
                                    <div style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/side-2.png ); height: 207px;"
                                        class="banner-bg">
                                        <div class="caption">
                                            <div class="banner-info">
                                                <h3 class="title">New Arrivals
                                                    <br> in
                                                    <strong> Accesories</strong>
                                                    <br> at Best prices</h3>
                                            </div>
                                            <!-- .banner-info -->
                                            <span class="banner-action button">View all</span>
                                        </div>
                                        <!-- .caption -->
                                    </div>
                                    <!-- .banner-bg -->
                                </a>
                            </div>
                            <!-- .banner -->
                        </div>
                        <!-- .widget_techmarket_banner_widget -->
                        <div class="widget widget_techmarket_banner_widget">
                            <div class="banner">
                                <a href="shop.html">
                                    <div style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/side-3.png ); height: 207px;"
                                        class="banner-bg">
                                        <div class="caption">
                                            <div class="banner-info">
                                                <h3 class="title">Catch Best
                                                    <br>
                                                    <strong>Deals</strong> on
                                                    <br>the Curved
                                                    <br>Soundbars</h3>
                                            </div>
                                            <!-- .banner-info -->
                                            <span class="banner-action button">Browse</span>
                                        </div>
                                        <!-- .caption -->
                                    </div>
                                    <!-- .banner-bg -->
                                </a>
                            </div>
                            <!-- .banner -->
                        </div>
                        <!-- .widget_techmarket_banner_widget -->
                        <div class="widget widget_techmarket_features_widget">
                            <div class="features-list">
                                <div class="features">
                                    <div class="feature">
                                        <div class="media">
                                            <i class="feature-icon d-flex mr-3 tm tm-free-delivery"></i>
                                            <div class="media-body feature-text">
                                                <strong>Free Delivery</strong>from $50</div>
                                        </div>
                                        <!-- .media -->
                                    </div>
                                    <!-- .feature -->
                                    <div class="feature">
                                        <div class="media">
                                            <i class="feature-icon d-flex mr-3 tm tm-feedback"></i>
                                            <div class="media-body feature-text">
                                                <strong>99 % Customer</strong>Feedbacks</div>
                                        </div>
                                        <!-- .media -->
                                    </div>
                                </div>
                                <!-- .features -->
                            </div>
                            <!-- .features-list -->
                        </div>
                        <!-- .widget_techmarket_features_widget -->

                    </div>
                    <!-- #secondary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        <% include ../slayout/footer%>
    </div>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="assets/js/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
    <!-- <script>
        $('.add_to_cart_button').off('click').on('click', function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/addtocart",
                data: { sachID: $(this).data('id') },
                success: function (res) {
                    console.log(res);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        })
    </script> -->
</body>

</html>