<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/fav-icon.png">
    <style>
            .bd-example-modal-lg .modal-dialog{
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
          }
        
          .bd-example-modal-lg .modal-dialog .modal-content{
            background-color: transparent;
            border: none;
          }
          
    </style>
</head>

<body class="woocommerce-active left-sidebar">
    <div id="page" class="hfeed site">

        <%include ../slayout/headerhome.ejs%>
        <%
        function formatNumber(nStr, decSeperate, groupSeperate) {
            nStr += '';
            x = nStr.split(decSeperate);
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
            }
            return x1 + x2;
        }
        %>
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content" tabindex="-1">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="home-v1.html">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>Shop
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="shop-archive-header">
                                <div class="jumbotron">
                                    <div class="jumbotron-img">
                                        <img width="416" height="283" alt="" src="/assets/images/slider/home-v9-background.jpg"
                                            class="jumbo-image alignright">
                                    </div>
                                    <div class="jumbotron-caption">
                                        <h3 class="jumbo-title"></h3>
                                        <p class="jumbo-subtitle">Hello
                                            <br>
                                            <br>Have a good day !
                                            <a href="#">Mua sắm nào! <i class="tm tm-long-arrow-right"></i></a>
                                        </p>
                                    </div>
                                    <!-- .jumbotron-caption -->
                                </div>
                                <!-- .jumbotron -->
                            </div>
                            <!-- .shop-control-bar -->
                            <section class="column-2 section-products-carousel-tabs tab-carousel-1">
                                    <div class="section-products-carousel-tabs-wrap">
                                        <!-- .section-header -->
                                        <div class="tab-content">
                                            <div id="tab-5a0483f2e86980" class="tab-pane active" role="tabpanel">
                                                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products"
                                                    data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidesPerRow&quot;:5,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesPerRow&quot;:1}},{&quot;breakpoint&quot;:1023,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2}},{&quot;breakpoint&quot;:1169,&quot;settings&quot;:{&quot;slidesPerRow&quot;:4}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3}}]}">
                                                    <div class="container-fluid">
                                                        <div class="woocommerce">
                                                            <div class="products">
                                                                <% allBooks.forEach(function(book){ 
                                                                    if(book.tinhtrang=='hết hàng'){
                                                                        %>

                                                                        <%
                                                                    }
                                                                    else{    
                                                                %>
                                                                <div class="product">
                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                        <a rel="nofollow" class="add_to_wishlist">
                                                                            Add to Wishlist</a>
                                                                    </div>
                                                                    <a href="/product/<%=book.linkseo%>_<%=book._bookID%>"
                                                                        class="woocommerce-LoopProduct-link">
                                                                        <img src="<%=book.hinhanh[0]%>" class="wp-post-image"
                                                                            alt="">
                                                                        <span class="price">
                                                                            <ins>
                                                                                <span class="amount"> </span>
                                                                            </ins>
                                                                            <span class="amount">
                                                                                <%=formatNumber(book.gia,'.',',')%><span
                                                                                    class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                        </span>
                                                                        <!-- /.price -->
                                                                        <h2 class="woocommerce-loop-product__title">
                                                                            <%=book.tieude %>
                                                                        </h2>
                                                                    </a>
                                                                    <div class="hover-area">
                                                                        <a class="button add_to_cart_button" onclick="addToCart('<%= book._bookID %>')"
                                                                            rel="nofollow">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                <!-- /.product-outer -->
                                                                <% } }) %>
                                                            </div>
                                                            <!--<button style="float: right;" type="button" class="btn btn-success">Xem thêm</button>-->
                                                        </div>
                                                        <!-- .woocommerce -->
                                                    </div>
                                                    <!-- .container-fluid -->
                                                </div>
                                                <!-- .products-carousel -->
                                            </div>
                                            <!-- .tab-pane -->
                                        </div>
                                        <!-- .tab-content -->
                                    </div>
                                    <!-- .section-products-carousel-tabs-wrap -->
                                </section>
                            <!-- .tab-content -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                    <div id="secondary" class="widget-area shop-sidebar" role="complementary">
                        <div class="widget woocommerce widget_product_categories techmarket_widget_product_categories"
                            id="techmarket_product_categories_widget-2">
                            <ul class="product-categories ">
                                <li class="product_cat">
                                    <span>Danh mục sách</span>
                                    <ul>
                                        <% cat.forEach(function(ca){ %>
                                          <li class="cat-item">
                                              <a href="/product/<%=ca.tentheloai%>">
                                                  <span class="no-child"></span><%= ca.tentheloai %></a>
                                          </li>
                                        <% }); %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="techmarket_products_filter-3" class="widget widget_techmarket_products_filter">
                            <span class="gamma widget-title">Filters</span>
                            <div class="widget woocommerce widget_price_filter" id="woocommerce_price_filter-2">
                                <p>
                                    <span class="gamma widget-title">Filter by price</span>
                                    <div class="price_slider_amount">
                                        <input id="amount" type="text" placeholder="Min price" data-min="6" value="33"
                                            name="min_price" style="display: none;">
                                        <button class="button" type="submit">Filter</button>
                                    </div>
                                    <div id="slider-range" class="price_slider"></div>
                            </div>
                            <div class="widget woocommerce widget_layered_nav maxlist-more" id="woocommerce_layered_nav-2">
                                <span class="gamma widget-title">Brands</span>
                                <ul>
                                    <li class="wc-layered-nav-term ">
                                        <a href="#">apple</a>
                                        <span class="count">(2)</span>
                                    </li>
                                    <li class="wc-layered-nav-term "><a href="#">bosch</a>
                                        <span class="count">(1)</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- .woocommerce widget_layered_nav -->
                            <div class="widget woocommerce widget_layered_nav maxlist-more" id="woocommerce_layered_nav-3">
                                <span class="gamma widget-title">Color</span>
                                <ul>
                                    <li class="wc-layered-nav-term "><a href="#">Black</a>
                                        <span class="count">(4)</span>
                                    </li>
                                    <li class="wc-layered-nav-term "><a href="#">Blue</a>
                                        <span class="count">(4)</span>
                                    </li>
                                    <li class="wc-layered-nav-term "><a href="#">Green</a>
                                        <span class="count">(5)</span>
                                    </li>

                                </ul>
                            </div>
                            <!-- .woocommerce widget_layered_nav -->
                        </div>
                    </div>
                    <!-- #secondary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        <%include ../slayout/footer.ejs %>
        <!-- .site-footer -->
    </div>
    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" style="width: 48px;color:white">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </div>
            </div>
    </div>
    <script>
        function formatNumber(nStr, decSeperate, groupSeperate) {
            nStr += '';
            x = nStr.split(decSeperate);
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
            }
            return x1 + x2;
        }

        function addToCart(id) {
            $('.modal').modal('show');
            $.ajax({
                type: "GET",
                url: "/addtocart/" + id,
                dataType: "json",
                success: function (data) {
                    //alert('đã thêm vào giỏ hàng' + data.totalPrice);
                    $('.update-totalPrice').html(formatNumber(data.totalPrice, '.', ',') + '₫');
                    $('.update-totalQty').html(data.totalQty);
                    var update = '';
                    data.products.forEach(itc => {
                        update += '<li class="woocommerce-mini-cart-item mini_cart_item">';
                        update += '<a onclick="deleteCartItem(\'' + itc.item._bookID +
                            '\')" class="remove" aria-label="Remove this item"';
                        update += 'data-product_id="65" data-product_sku="">×</a>';
                        update += '<a href="/product/' + itc.item.linkseo + '_' + itc.item._bookID +
                            '">';
                        update += '<img src="' + itc.item.hinhanh[0] +
                            '" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">';
                        update += itc.item.tieude + '</a><span class="quantity"> ' + itc.qty + '×';
                        update += '<span class="woocommerce-Price-amount amount">';
                        update += formatNumber(itc.item.gia, '.', ',') +
                            '<span class="woocommerce-Price-currencySymbol">₫</span></span>';
                        update += '</span> </li>';
                    });
                    $('.update-products').html(update);
                    // hiệu ứng blinking ở cuối assets style.css
                    var $div2blink = $(".divtoBlink");
                    $('.modal').modal('hide');
                     // Save reference, only look this item up once, then save
                    var backgroundInterval = setInterval(function () {
                        $div2blink.toggleClass("backgroundRed");
                    }, 500);
                    setTimeout(function () {
                        window.clearInterval(backgroundInterval);
                    }, 2200)
                },
                error: function () {}
            });
        }
    </script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/assets/js/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>

</html>