<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Techmarket HTML</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/fav-icon.png">
    <style>
    strong{
        font-weight: bolder;
    }
    </style>
</head>

<body class="page-template-default woocommerce-checkout woocommerce-page woocommerce-order-received can-uppercase woocommerce-active">
    <div id="page" class="hfeed site">
        <% include ../slayout/headerhome.ejs %>
        <div id="content" class="site-content" tabindex="-1">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Trang chủ</a>
                        <span class="delimiter"><i class="tm tm-breadcrumbs-arrow-right"></i></span>
                        <a href="/checkout">Đặt hàng</a>
                        <span class="delimiter"><i class="tm tm-breadcrumbs-arrow-right"></i></span>Ghi nhận đơn hàng
                    </nav>
                    <!-- .woocommerce-breadcrumb -->

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="page hentry">

                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="woocommerce-order">

                                            <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">Đơn
                                                đặt hàng đã được ghi lại. Vui
                                                lòng kiểm tra <a href="https://gmail.com"><strong style="color:#d80c0c"> Email </strong></a> để xác nhận đơn đơn hàng và hoàn tất quá trình đặt
                                                hàng.</p>
                                            <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

                                                <li class="woocommerce-order-overview__order order">
                                                    Order number:<strong>
                                                        <%=recieved_order._orderID %></strong>
                                                </li>

                                                <li class="woocommerce-order-overview__date date">
                                                    Date:<strong>
                                                        <%=recieved_order.ngaylaphoadon %></strong>
                                                </li>


                                                <li class="woocommerce-order-overview__total total">
                                                    Total:<strong><span class="woocommerce-Price-amount amount">
                                                            <%=editName.formatNumber(recieved_order.tongtienthanhtoan,'.',',')%><span class="woocommerce-Price-currencySymbol">đồng</span></span></strong>
                                                </li>

                                                <li class="woocommerce-order-overview__payment-method method">
                                                    Payment method: <strong>Ship COD</strong>
                                                </li>

                                            </ul>
                                            <!-- .woocommerce-order-overview -->


                                            <section class="woocommerce-order-details">
                                                <h2 class="woocommerce-order-details__title">Chi tiết đơn hàng</h2>

                                                <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">
                                                    <thead>
                                                        <tr>
                                                            <th class="woocommerce-table__product-name product-name"><strong>Sản
                                                                    phẩm</strong></th>
                                                            <th class="woocommerce-table__product-table product-total"><strong>Tổng
                                                                    tiền</strong></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <% recieved_order.items.forEach(function(i){
                                                            %>
                                                        <tr class="woocommerce-table__line-item order_item">
                                                            <td class="woocommerce-table__product-name product-name">
                                                                <a href="#" style="font-size: 15px;
                                                                color: #284b99;   ">
                                                                    <%=i.item.tieude%></a>
                                                                <strong class="product-quantity">×
                                                                    <%=i.qty%></strong>
                                                            </td>
                                                            <td class="woocommerce-table__product-total product-total">
                                                                <span class="woocommerce-Price-amount amount">
                                                                        <%=editName.formatNumber(i.price,'.',',')%><span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                            </td>
                                                        </tr>
                                                        <%
                                                        })
                                                        %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th scope="row"><strong>Tổng tiền:</strong></th>
                                                            <td><span class="woocommerce-Price-amount amount">
                                                                    <%=editName.formatNumber(recieved_order.tongtien,'.',',')%>
                                                                    <span class="woocommerce-Price-currencySymbol">₫</span></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><strong>Tiền vận chuyển:</strong></th>
                                                            <td><span class="woocommerce-Price-amount amount" >
                                                                    <%=editName.formatNumber(recieved_order.tienship,'.',',')%>
                                                                <span class="woocommerce-Price-currencySymbol">₫</span></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><strong>Phương thức thanh toán:</strong></th>
                                                            <td>Chuyển phát</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><strong>Tổng tiền thanh toán:</strong></th>
                                                            <td><span class="woocommerce-Price-amount amount" style="color:red">
                                                                    <%=editName.formatNumber(recieved_order.tongtienthanhtoan,'.',',')%>
                                                                    <span class="woocommerce-Price-currencySymbol">
                                                                        đồng</span></span></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <!-- .woocommerce-table -->
                                            </section>
                                            <!-- .woocommerce-order-details -->
                                        </div>
                                        <!-- .woocommerce-order -->
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <div class="woocommerce-checkout-payment" style="float:right" id="payment">
                                    <a class="button wc-forward text-center" name="add-order" href="/">
                                        Quay lại trang chủ</a>
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- .hentry -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->

        <% include ../slayout/footer.ejs%>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/assets/js/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
</body>

</html>