<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />
    <link rel="stylesheet" href="/assets/css/processbarorder.css">

    <link rel="shortcut icon" href="/assets/images/fav-icon.png">
    <style>
    .invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px 25px;
    font-size: 13px;
}
strong{
  font-weight: bold;
}.no-shadow {
    box-shadow: none !important;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.text-muted {
    color: #777;
}

.callout {
    color: white;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.callout.callout-danger {
    background-color: #dd4b39 !important;
    border-color: #c23321;
}
.callout.callout-gray {
    background-color: #777 !important;
    border-color: rgb(42, 42, 42);
}
    </style>
</head>

<body class="page home page-template-default">
    <div id="page" class="hfeed site">

        <%include ../slayout/headerhome.ejs%>
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Trang chủ</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        Tra cứu đơn hàng
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <% orderDetail.forEach(function(b){
                            %>
                        <main id="main" class="site-main">
                            <div class="type-page hentry">
                                    <section class="invoice" >
                                            <!-- title row -->
                                            <div class="row" >
                                              <div class="col-md-12">
                                                <h2 class="page-header">
                                                  <i class="fa fa-globe"></i> Đơn đặt sách. #<%=b._orderID%>
                                                  <button type="button" class="btn btn-info pull-right"  data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo" ><i class="fa fa-credit-card"></i> Chi tiết tình trạng
                                                  </button> 
                                                </h2>
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- info row -->
                                            <div class="row invoice-info">
                                              <div class="col-md-4 invoice-col">
                                                From
                                                <address>
                                                  <strong>Nhóm 11, DHKTPM11A.</strong><br>
                                                  12 Nguyen Van Bao Street<br>
                                                  GoVap District, HCM city<br>
                                                  Phone: (+84) 9 6228 2962<br>
                                                  Email: vitconse@gmail.com
                                                </address>
                                              </div>
                                              <!-- /.col -->
                                              <div class="col-md-4 invoice-col">
                                                To
                                                <address>
                                                  <strong><%=b.tennguoinhan%></strong><br>
                                                  <%=b.diachi.chitiet%><br>
                                                  <%=b.diachi.tinh_thanhpho%><br>
                                                  Phone:<%=b.sodienthoai%><br>
                                                  Email: <%=b.email%>
                                                </address>
                                              </div>
                                              <!-- /.col -->
                                              <div class="col-md-4 invoice-col">
                                                
                                                  <br>
                                                <strong>Loại đơn hàng: </strong> Đơn đặt sách<br>
                                                <strong>Mã đơn hàng:</strong> <%=b._orderID%><br>
                                                <strong>Ngày tạo:</strong> <%=b.ngaylaphoadon%><br>
                                                <strong>Tình trạng:</strong> <a style="text-decoration: none;font-size:18px;font-weight: bold; "><%=b.tinhtranghienhanh%></a>
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                      
                                            <!-- Table row -->
                                            <div class="row">
                                              <div class="col-md-12 table-responsive">
                                                <table class="table table-striped">
                                                  <thead>
                                                  <tr>
                                                    <th>#</th>
                                                    <th>Mã sách</th>
                                                    <th>Tên sách</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                    <th>Thành tiền</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                    <%
                                                    b.items.forEach(function(it){
                                                      %>
                                                      <tr>
                                                          <td><%=b.items.indexOf(it)+1%></td>
                                                          <td><%=it.item._bookID%></td>
                                                          <td><%=it.item.tieude%></td>
                                                          <td><%=it.qty%></td>
                                                          <td><%=it.item.gia%></td>
                                                          <td><%=it.price%></td>
                                                        </tr>
                                                      <%
                                                    })
                                                    %>
                                                  
                                                  </tbody>
                                                </table>
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                      
                                            <div class="row">
                                              <!-- accepted payments column -->
                                              <div class="col-md-6">
                                                <p class="lead">Phương thức thanh toán:</p>
                                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                                    SHIP COD:  giao hàng thu tiền -tức là người nhận hàng sẽ được cầm hàng trước sau đó mới trả tiền hàng.
                                                </p>
                                              </div>
                                              <!-- /.col -->
                                              <div class="col-md-6">
                                                <p class="lead">Ngày lập <%=b.ngaylaphoadon%></p>
                                      
                                                <div class="table-responsive">
                                                  <table class="table">
                                                    <tbody><tr>
                                                      <th style="width:50%">Thành tiền:</th>
                                                      <td>   <%=editName.formatNumber(b.tongtien,'.',',')%>
                                                        <span class="woocommerce-Price-currencySymbol">₫</span></td>
                                                    </tr>
                                                    <tr>
                                                      <th>Phí vận chuyển:</th>
                                                      <td>   <%=editName.formatNumber(b.tienship,'.',',')%>
                                                        <span class="woocommerce-Price-currencySymbol">₫</span></td>
                                                    </tr>
                                                    <tr>
                                                      <th>Tổng tiền:</th>
                                                      <td>   <%=editName.formatNumber(b.tongtienthanhtoan,'.',',')%>
                                                        <span class="woocommerce-Price-currencySymbol">₫</span></td>
                                                    </tr>
                                                  </tbody></table>
                                                </div>
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                      
                                            <!-- this row will not appear when printing -->
                                            <div class="row no-print">
                                              <div class="col-md-12">
                                                <a href="" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
                                                <%
                                                  if(b.tinhtranghienhanh == 'Chưa xác nhận' || b.tinhtranghienhanh =='Đã xác nhận'){
                                                    %>
                                                    <button type="button" class="btn btn-danger pull-right"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ><i class="fa fa-credit-card"></i> Huỷ đơn hàng
                                                    </button>
                                                    <%
                                                  }
                                                  else{
                                                    %>

                                                    <%
                                                  }
                                                %>
                                                <a type="button" class="btn btn-default" href="/trackOrder">Quay lại
                                                </a>
                                              </div>
                                            </div>
                                          </section> 
                                          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                      <div class="modal-content" style="width:700px">
                                                          <div class="modal-body col-md-12" style="height: 300px;" >
                                                            <%
                                                            if(b.tinhtranghienhanh=='Chờ xác nhận'){
                                                                %>
                                                                <div class="callout callout-gray">
                                                                    <h4><%=b.tinhtranghienhanh%></h4>
                                                                    <p>Mô tả: <%=b.lichsutinhtrang[b.lichsutinhtrang.length -1].motatt %></p>
                                                                    <p>Thời gian: <%=b.lichsutinhtrang[b.lichsutinhtrang.length -1].thoigian %> </p>
                                                                </div>
                                                            <%
                                                            }else{
                                                                if(b.tinhtranghienhanh=='Bị huỷ'){
                                                                    %>
                                                                    <div class="callout callout-danger">
                                                                            <h4><%=b.tinhtranghienhanh%></h4>
                                                                            <p>Mô tả: <%=b.lichsutinhtrang[b.lichsutinhtrang.length -1].motatt %></p>
                                                                            <p>Thời gian: <%=b.lichsutinhtrang[b.lichsutinhtrang.length -1].thoigian %> </p>
                                                                        </div>
                                                                    <%
                                                                }
                                                                else{
                                                                %>
                                                            <div class='progress'>
                                                              <div class='progress_inner'>
                                                                  <div class='progress_inner__step'>
                                                                      <label for='step-1'>Xác nhận đơn hàng</label>
                                                                  </div>
                                                                  <div class='progress_inner__step' >
                                                                      <label for='step-2'>Chấp nhận đơn hàng</label>
                                                                  </div>
                                                                  <div class='progress_inner__step'>
                                                                      <label for='step-3'>Đóng gói sản phẩm</label>
                                                                  </div>
                                                                  <div class='progress_inner__step'>
                                                                      <label for='step-4'>Giao hàng</label>
                                                                  </div>
                                                                  <div class='progress_inner__step'>
                                                                      <label for='step-5'>Hoàn tất</label>
                                                                  </div>
                                                                  <%
                                                                  var flag=0;
                                                                  for(var e=1; e < b.lichsutinhtrang.length ; e++)
                                                                  {
                                                                      if( b.lichsutinhtrang[e].tentinhtrang == b.tinhtranghienhanh )
                                                                      {
                                                                          %>
                                                                              <input id='step-<%=e%>'  name='step' type='radio' checked="checked"> 
                                                                          <%     
                                                                      }
                                                                      else{
                                                                          %>
                                                                          <input id='step-<%=e%>' name='step' type='radio'> 
                                                                          <%
                                                                      }
                                                                      flag=e;
                                                                  }
                                                                  for( var g=flag+1; g <= 5; g++){
                                                                      %>
                                                                      <input id='step-<%=g%>' name='step' type='radio' disabled ="disabled"> 
                                                                      <%
                                                                  }
                                                                  %>
                                                                  <div class='progress_inner__bar'></div>
                                                                  <div class='progress_inner__bar--set'></div>
                                                                  <div class='progress_inner__tabs'>
                                                                      <% 
                                                                              var tiepth = 0;
                                                                              for(var i=1; i < b.lichsutinhtrang.length ; i++)
                                                                              {
                                                                              %>
                                                                                  <div class='tab tab-<%=i%>' style="width: 100%"> 
                                                                                          <h1><%=b.lichsutinhtrang[i].tentinhtrang%></h1>
                                                                                          <p>Thời gian: <%=b.lichsutinhtrang[i].thoigian %>. <%=b.lichsutinhtrang[i].motatt %></p>
                                                                                  </div>
                                                                              <%
                                                                                  tiepth=i;
                                                                              }
                                                                              for( var j=tiepth+1; j < 5; j++){
                                                                              %>
                                                                                  <div class='tab tab-<%=j%>' style="width: 100%"> 
                                                                                          <h1>null</h1>
                                                                                          <p>Thời gian: null. null</p>
                                                                                  </div>
                                                                                  <%
                                                                              }
                                                                      %>
                                                                  </div>
                                                                  <div class='progress_inner__status'>
                                                                      <div class='box_base'></div>
                                                                      <div class='box_lid'></div>
                                                                      <div class='box_ribbon'></div>
                                                                      <div class='box_bow'>
                                                                      <div class='box_bow__left'></div>
                                                                      <div class='box_bow__right'></div>
                                                                      </div>
                                                                      <div class='box_item'></div>
                                                                      <div class='box_tag'></div>
                                                                      <div class='box_string'></div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <%
                                                        }}
                                                        %>  
                                                          </div>
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                          </div>
                                                      </div>
                                              </div>
                                          </div>
                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                  <form method="POST" action="/admin/order/rejectOrder/<%=b._orderID%>" >
                                                      <div class="modal-content">
                                                          <div class="col-md-12">
                                                                  <button type="button" class="pull-right close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span></button>
                                                                  <h4 class="pull-left">Xác nhận huỷ đơn hàng</h4>
                                                          </div> 
                                                          <div class="modal-body">
                                                              <div class="form-group">
                                                                  <label for="message-text" class="col-form-label">Lý do huỷ:</label>
                                                                  <textarea class="form-control" name="txtLyDo" id="message-text" required></textarea>
                                                              </div>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                              <input type="submit" id="btnAdd" class="btn btn-warning pull-right "
                                                              value="Xác nhận huỷ order" />
                                                          </div>
                                                      </div>
                                                  </form>  
                                              </div>
                                          </div>
                            </div>
                            <!-- .hentry -->
                        </main>
                        <!-- #main -->
                    </div>
                    <%})%>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        <%include ../slayout/footer.ejs%>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/assets/js/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
    
    <!-- Page script -->

</body>

</html>