<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Techmarket HTML</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/blue.css" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/fav-icon.png">
</head>

<body class="woocommerce-active single-product full-width normal">
    <div id="page" class="hfeed site">
        <% include ../slayout/headerhome %>
        <div id="content" class="site-content" tabindex="-1">
            <% 
            rename=  function(str) {
                str = str.toLowerCase();
                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                str = str.replace(/đ/g, "d");
                str = str.replace(/ /g, "-");
                str = str.replace(/\./g, "-");
                return str;
            }
            sachDetail.forEach(function (item){
                    %>


            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="home-v1.html">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span><a href="product-category.html">
                            <%=item.ngonngu %></a>
                        <% item.theloai.forEach(function(tl){
                            %>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span><a href="product-category.html">
                            <%=tl %></a>
                        <%
                                })
                        %>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        <%=item.tieude %>
                    </nav>

                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="product product-type-simple">
                                <div class="single-product-wrapper">
                                    <div class="product-images-wrapper thumb-count-4">
                                        <!-- .onsale -->
                                        <div id="techmarket-single-product-gallery" class="techmarket-single-product-gallery techmarket-single-product-gallery--with-images techmarket-single-product-gallery--columns-4 images"
                                            data-columns="4">
                                            <div class="techmarket-single-product-gallery-images" data-ride="tm-slick-carousel"
                                                data-wrap=".woocommerce-product-gallery__wrapper" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;asNavFor&quot;:&quot;#techmarket-single-product-gallery .techmarket-single-product-gallery-thumbnails__wrapper&quot;}">
                                                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images"
                                                    data-columns="4">
                                                    <!-- <a href="#" class="woocommerce-product-gallery__trigger">🔍</a> -->
                                                    <figure class="woocommerce-product-gallery__wrapper ">
                                                        <%
                                                        item.hinhanh.forEach(function(i){
                                                            %>
                                                        <div data-thumb="<%=i%>" class="woocommerce-product-gallery__image">
                                                            <a href="<%=i%>" tabindex="0">
                                                                <img width="600" height="600" src="<%=i%>" class="attachment-shop_single size-shop_single wp-post-image"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                        <%
                                                        })
                                                        %>
                                                    </figure>
                                                </div>
                                                <!-- .woocommerce-product-gallery -->
                                            </div>
                                            <!-- .techmarket-single-product-gallery-images -->
                                            <div class="techmarket-single-product-gallery-thumbnails" data-ride="tm-slick-carousel"
                                                data-wrap=".techmarket-single-product-gallery-thumbnails__wrapper"
                                                data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;vertical&quot;:true,&quot;verticalSwiping&quot;:true,&quot;focusOnSelect&quot;:true,&quot;touchMove&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-up\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-down\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;asNavFor&quot;:&quot;#techmarket-single-product-gallery .woocommerce-product-gallery__wrapper&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:765,&quot;settings&quot;:{&quot;vertical&quot;:false,&quot;horizontal&quot;:true,&quot;verticalSwiping&quot;:false,&quot;slidesToShow&quot;:4}}]}">
                                                <figure class="techmarket-single-product-gallery-thumbnails__wrapper">
                                                    <%
                                                        item.hinhanh.forEach(function(i){
                                                            %>
                                                    <figure data-thumb="<%=i%>" class="techmarket-wc-product-gallery__image">
                                                        <img width="180" height="180" src="<%=i%>" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                            alt="">
                                                    </figure>
                                                    <%
                                                        })
                                                        %>
                                                </figure>
                                                <!-- .techmarket-single-product-gallery-thumbnails__wrapper -->
                                            </div>
                                            <!-- .techmarket-single-product-gallery-thumbnails -->
                                        </div>
                                        <!-- .techmarket-single-product-gallery -->
                                    </div>
                                    <!-- .product-images-wrapper -->
                                    <div class="summary entry-summary">
                                        <div class="single-product-header">
                                            <h1 class="product_title entry-title">
                                                <%=item.tieude %>
                                            </h1>
                                        </div>
                                        <!-- .single-product-header -->
                                        <div class="single-product-meta">
                                            <div class="brand">
                                                <a href="#">
                                                    <img alt="galaxy" src="/assets/images/brands/5.png">
                                                </a>
                                            </div>
                                            <div class="cat-and-sku">
                                                <span class="posted_in categories">
                                                    <a rel="tag" href="product-category.html">
                                                        <%=item.theloai[1]%></a>
                                                </span>
                                                <span class="sku_wrapper">SKU:
                                                    <span class="sku">
                                                        <%=item.SKU %></span>
                                                </span>
                                            </div>
                                            <div class="product-label">
                                                <div class="ribbon label green-label">
                                                    <span>A+</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .single-product-meta -->
                                        <div class="rating-and-sharing-wrapper">
                                            <div class="woocommerce-product-rating">
                                                <div class="star-rating">
                                                    <span style="width:100%">Rated
                                                        <strong class="rating">5.00</strong> out of 5 based on
                                                        <span class="rating">1</span> customer rating</span>
                                                </div>
                                                <a rel="nofollow" class="woocommerce-review-link" href="#reviews">(<span
                                                        class="count">1</span> customer review)</a>
                                            </div>
                                        </div>
                                        <!-- .rating-and-sharing-wrapper -->
                                        <div class="woocommerce-product-details__short-description">
                                            <ul>
                                                <li>
                                                    <%=item.mota %>
                                                </li>
                                                <li>120 watts peak</li>

                                            </ul>
                                        </div>
                                        <!-- .woocommerce-product-details__short-description -->
                                        <div class="product-actions-wrapper">
                                            <div class="product-actions">
                                                <p class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <%=item.gia+90000 %>
                                                            <span class="woocommerce-Price-currencySymbol"> đồng</span></span>
                                                    </del>
                                                    <ins>
                                                        <span class="woocommerce-Price-amount amount">

                                                            <%=item.gia%> <span class="woocommerce-Price-currencySymbol">
                                                                đồng</span></span>
                                                    </ins>
                                                </p>
                                                <!-- .single-product-header -->
                                                <form method="POST" class="cart" action="/add_detail_to_cart/<%=item._bookID%>">
                                                    <div class="quantity">
                                                        <label for="quantity-input">Số lượng</label>
                                                        <input type="number" size="4" class="input-text qty text" title="Qty"
                                                            value="1" name="abasdjuwas" id="quantity-input">
                                                    </div>
                                                    <!-- .quantity -->
                                                    <button class="single_add_to_cart_button button alt" value="185"
                                                        name="add-to-cart" type="submit">Add
                                                        to cart</button>
                                                </form>
                                                <!-- .cart -->
                                            </div>
                                            <!-- .product-actions -->
                                        </div>
                                        <!-- .product-actions-wrapper -->
                                    </div>
                                    <!-- .entry-summary -->
                                </div>
                                <!-- .single-product-wrapper -->

                                <div class="woocommerce-tabs wc-tabs-wrapper">
                                    <ul role="tablist" class="nav tabs wc-tabs">
                                        <li class="nav-item accessories_tab">
                                            <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="tab-accessories"
                                                href="#tab-accessories">Sách tương tự</a>
                                        </li>
                                        <li class="nav-item specification_tab">
                                            <a class="nav-link " data-toggle="tab" role="tab" aria-controls="tab-specification"
                                                href="#tab-specification">Thông tin</a>
                                        </li>
                                        <li class="nav-item description_tab">
                                            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-description"
                                                href="#tab-description">Mô tả</a>
                                        </li>
                                    </ul>
                                    <!-- /.ec-tabs -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-accessories" role="tabpanel">
                                            <div class="accessories">
                                                Cac sp lien quan
                                            </div>
                                        </div>
                                        <div class="tab-pane panel wc-tab" id="tab-description" role="tabpanel">
                                            <h2>Chi tiết</h2>
                                            <h1 style="text-align: center;">
                                                <%=item.tieude%>
                                            </h1>
                                            <p style="text-align: center;max-width: 1160px;margin: auto auto 60px;">
                                                <%=item.mota%>
                                            </p>
                                            <!-- <div style="text-align: center;">
                                                        <iframe width="854" height="480" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/K5OGs8a3vlM?ecver=1"></iframe>
                                                    </div>
                                                    <div class="outer-wrap">
                                                        <div class="content-info">
                                                            <h1 style="text-align: left;">Dynamic brightness
                                                                <br> reveals hidden details</h1>
                                                            <p style="text-align: left;">Nullam dignissim elit ut urna rutrum,
                                                                a fermentum mi auctor. Mauris efficitur magna orci, et dignissim
                                                                lacus
                                                                <br> scelerisque sit amet. Proin malesuada tincidunt nisl
                                                                ac commodo. Vivamus eleifend porttitor ex sit amet suscipit.
                                                                <br> Vestibulum at ullamcorper lacus, vel facilisis arcu.
                                                                Aliquam erat volutpat.</p>
                                                        </div>-->
                                            <!-- 
                                                    <div class="image-info">
                                                        <img src="/assets/images/products/des1.png" alt="">
                                                    </div>.content-info -->
                                            <!-- .image-info -->
                                        </div>
                                        <!-- .outer-wrap -->
                                        <div class="tab-pane" id="tab-specification" role="tabpanel">
                                            <div class="tm-shop-attributes-detail like-column columns-3">
                                                <h3 class="tm-attributes-title">Chung</h3>
                                                <table class="shop_attributes">
                                                    <tbody>
                                                        <tr>
                                                            <th>Tác giả</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.tacgia%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Dịch giả</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.dichgia%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>SKU</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.SKU%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Nhà xuất bản</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.nhaxuatban%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Ngày xuất bản</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.ngayxuatban%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Thể loại</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.theloai%></a></p>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <!-- /.shop_attributes -->
                                                <h3 class="tm-attributes-title">Thông tin khác</h3>
                                                <table class="shop_attributes">
                                                    <tbody>
                                                        <tr>
                                                            <th>Kích thước</th>
                                                            <td>
                                                                <%=item.kichthuoc%>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Số trang</th>
                                                            <td>
                                                                <%=item.sotrang%>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <!-- /.shop_attributes -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="tab-pane active" id="tab-accessories" role="tabpanel">
                                        <div class="accessories">
                                            Cac sp lien quan
                                        </div>
                                    </div> -->
                                </div>
                                <!-- .section-landscape-products-carousel -->
                            </div>
                            <!-- .product -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <%
            }) %>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        <footer class="site-footer footer-v1">
            <div class="col-full">
                <div class="before-footer-wrap">
                    <div class="col-full">
                        <div class="footer-newsletter">
                            <div class="media">
                                <i class="footer-newsletter-icon tm tm-newsletter"></i>
                                <div class="media-body">
                                    <div class="clearfix">
                                        <div class="newsletter-header">
                                            <h5 class="newsletter-title">Sign up to Newsletter</h5>
                                            <span class="newsletter-marketing-text">...and receive
                                                <strong>$20 coupon for first shopping</strong>
                                            </span>
                                        </div>
                                        <!-- .newsletter-header -->
                                        <div class="newsletter-body">
                                            <form class="newsletter-form">
                                                <input type="text" placeholder="Enter your email address">
                                                <button class="button" type="button">Sign up</button>
                                            </form>
                                        </div>
                                        <!-- .newsletter body -->
                                    </div>
                                    <!-- .clearfix -->
                                </div>
                                <!-- .media-body -->
                            </div>
                            <!-- .media -->
                        </div>
                        <!-- .footer-newsletter -->
                        <div class="footer-social-icons">
                            <ul class="social-icons nav">
                                <li class="nav-item">
                                    <a class="sm-icon-label-link nav-link" href="#">
                                        <i class="fa fa-facebook"></i> Facebook</a>
                                </li>
                                <li class="nav-item">
                                    <a class="sm-icon-label-link nav-link" href="#">
                                        <i class="fa fa-twitter"></i> Twitter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="sm-icon-label-link nav-link" href="#">
                                        <i class="fa fa-google-plus"></i> Google+</a>
                                </li>
                                <li class="nav-item">
                                    <a class="sm-icon-label-link nav-link" href="#">
                                        <i class="fa fa-vimeo-square"></i> Vimeo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="sm-icon-label-link nav-link" href="#">
                                        <i class="fa fa-rss"></i> RSS</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .footer-social-icons -->
                    </div>
                    <!-- .col-full -->
                </div>
                <!-- .before-footer-wrap -->
                <div class="footer-widgets-block">
                    <div class="row">
                        <div class="footer-contact">
                            <div class="footer-logo">
                                <a href="home-v1.html" class="custom-logo-link" rel="home">
                                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 28">
                                        <defs>
                                            <style>
                                                .cls-1,
                                            .cls-2 {
                                                fill: #333e48;
                                            }

                                            .cls-1 {
                                                fill-rule: evenodd;
                                            }

                                            .cls-3 {
                                                fill: #3265b0;
                                            }
                                        </style>
                                        </defs>
                                        <polygon class="cls-1" points="171.63 0.91 171.63 11 170.63 11 170.63 0.91 170.63 0.84 170.63 0.06 176 0.06 176 0.91 171.63 0.91" />
                                        <rect class="cls-2" x="166.19" y="0.06" width="3.47" height="0.84" />
                                        <rect class="cls-2" x="159.65" y="4.81" width="3.51" height="0.84" />
                                        <polygon class="cls-1" points="158.29 11 157.4 11 157.4 0.06 158.26 0.06 158.36 0.06 164.89 0.06 164.89 0.87 158.36 0.87 158.36 10.19 164.99 10.19 164.99 11 158.36 11 158.29 11" />
                                        <polygon class="cls-1" points="149.54 6.61 150.25 5.95 155.72 10.98 154.34 10.98 149.54 6.61" />
                                        <polygon class="cls-1" points="147.62 10.98 146.65 10.98 146.65 0.05 147.62 0.05 147.62 5.77 153.6 0.33 154.91 0.33 147.62 7.05 147.62 10.98" />
                                        <path class="cls-1" d="M156.39,24h-1.25s-0.49-.39-0.71-0.59l-1.35-1.25c-0.25-.23-0.68-0.66-0.68-0.66s0-.46,0-0.72a3.56,3.56,0,0,0,3.54-2.87,3.36,3.36,0,0,0-3.22-4H148.8V24h-1V13.06h5c2.34,0.28,4,1.72,4.12,4a4.26,4.26,0,0,1-3.38,4.34C154.48,22.24,156.39,24,156.39,24Z"
                                            transform="translate(-12 -13)" />
                                        <polygon class="cls-1" points="132.04 2.09 127.09 7.88 130.78 7.88 130.78 8.69 126.4 8.69 124.42 11 123.29 11 132.65 0 133.04 0 133.04 11 132.04 11 132.04 2.09" />
                                        <polygon class="cls-1" points="120.97 2.04 116.98 6.15 116.98 6.19 116.97 6.17 116.95 6.19 116.95 6.15 112.97 2.04 112.97 11 112 11 112 0 112.32 0 116.97 4.8 121.62 0 121.94 0 121.94 11 120.97 11 120.97 2.04" />
                                        <ellipse class="cls-3" cx="116.3" cy="22.81" rx="5.15" ry="5.18" />
                                        <rect class="cls-2" x="99.13" y="0.44" width="5.87" height="27.12" />
                                        <polygon class="cls-1" points="85.94 27.56 79.92 27.56 79.92 0.44 85.94 0.44 85.94 16.86 96.35 16.86 96.35 21.84 85.94 21.84 85.94 27.56" />
                                        <path class="cls-1" d="M77.74,36.07a9,9,0,0,0,6.41-2.68L88,37c-2.6,2.74-6.71,4-10.89,4A13.94,13.94,0,0,1,62.89,27.15,14.19,14.19,0,0,1,77.11,13c4.38,0,8.28,1.17,10.89,4,0,0-3.89,3.82-3.91,3.8A9,9,0,1,0,77.74,36.07Z"
                                            transform="translate(-12 -13)" />
                                        <rect class="cls-2" x="37.4" y="11.14" width="7.63" height="4.98" />
                                        <polygon class="cls-1" points="32.85 27.56 28.6 27.56 28.6 5.42 28.6 3.96 28.6 0.44 47.95 0.44 47.95 5.42 34.46 5.42 34.46 22.72 48.25 22.72 48.25 27.56 34.46 27.56 32.85 27.56" />
                                        <polygon class="cls-1" points="15.4 27.56 9.53 27.56 9.53 5.57 9.53 0.59 9.53 0.44 24.93 0.44 24.93 5.57 15.4 5.57 15.4 27.56" />
                                        <rect class="cls-2" y="0.44" width="7.19" height="5.13" />
                                    </svg>
                                </a>
                            </div>
                            <!-- .footer-logo -->
                            <div class="contact-payment-wrap">
                                <div class="footer-contact-info">
                                    <div class="media">
                                        <span class="media-left icon media-middle">
                                            <i class="tm tm-call-us-footer"></i>
                                        </span>
                                        <div class="media-body">
                                            <span class="call-us-title">Got Questions ? Call us 24/7!</span>
                                            <span class="call-us-text">(800) 8001-8588, (0600) 874 548</span>
                                            <address class="footer-contact-address">17 Princess Road, London, Greater
                                                London
                                                NW1 8JR, UK</address>
                                            <a href="#" class="footer-address-map-link">
                                                <i class="tm tm-map-marker"></i>Find us on map</a>
                                        </div>
                                        <!-- .media-body -->
                                    </div>
                                    <!-- .media -->
                                </div>
                                <!-- .footer-contact-info -->
                                <div class="footer-payment-info">
                                    <div class="media">
                                        <span class="media-left icon media-middle">
                                            <i class="tm tm-safe-payments"></i>
                                        </span>
                                        <div class="media-body">
                                            <h5 class="footer-payment-info-title">We are using safe payments</h5>
                                            <div class="footer-payment-icons">
                                                <ul class="list-payment-icons nav">
                                                    <li class="nav-item">
                                                        <img class="payment-icon-image" src="/assets/images/credit-cards/mastercard.svg"
                                                            alt="mastercard" />
                                                    </li>
                                                    <li class="nav-item">
                                                        <img class="payment-icon-image" src="/assets/images/credit-cards/visa.svg"
                                                            alt="visa" />
                                                    </li>
                                                    <li class="nav-item">
                                                        <img class="payment-icon-image" src="/assets/images/credit-cards/paypal.svg"
                                                            alt="paypal" />
                                                    </li>
                                                    <li class="nav-item">
                                                        <img class="payment-icon-image" src="/assets/images/credit-cards/maestro.svg"
                                                            alt="maestro" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- .footer-payment-icons -->
                                            <div class="footer-secure-by-info">
                                                <h6 class="footer-secured-by-title">Secured by:</h6>
                                                <ul class="footer-secured-by-icons">
                                                    <li class="nav-item">
                                                        <img class="secure-icons-image" src="/assets/images/secured-by/norton.svg"
                                                            alt="norton" />
                                                    </li>
                                                    <li class="nav-item">
                                                        <img class="secure-icons-image" src="/assets/images/secured-by/mcafee.svg"
                                                            alt="mcafee" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- .footer-secure-by-info -->
                                        </div>
                                        <!-- .media-body -->
                                    </div>
                                    <!-- .media -->
                                </div>
                                <!-- .footer-payment-info -->
                            </div>
                            <!-- .contact-payment-wrap -->
                        </div>
                        <!-- .footer-contact -->
                        <div class="footer-widgets">
                            <div class="columns">
                                <aside class="widget clearfix">
                                    <div class="body">
                                        <h4 class="widget-title">Find it Fast</h4>
                                        <div class="menu-footer-menu-1-container">
                                            <ul id="menu-footer-menu-1" class="menu">
                                                <li class="menu-item">
                                                    <a href="shop.html">Computers &#038; Laptops</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Cameras &#038; Photography</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Smart Phones &#038; Tablets</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Video Games &#038; Consoles</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">TV</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Car Electronic &#038; GPS</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- .menu-footer-menu-1-container -->
                                    </div>
                                    <!-- .body -->
                                </aside>
                                <!-- .widget -->
                            </div>
                            <!-- .columns -->
                            <div class="columns">
                                <aside class="widget clearfix">
                                    <div class="body">
                                        <h4 class="widget-title">&nbsp;</h4>
                                        <div class="menu-footer-menu-2-container">
                                            <ul id="menu-footer-menu-2" class="menu">
                                                <li class="menu-item">
                                                    <a href="shop.html">Printers &#038; Ink</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Audio &amp; Music</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Home Theaters</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">PC Components</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Ultrabooks</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Smartwatches</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- .menu-footer-menu-2-container -->
                                    </div>
                                    <!-- .body -->
                                </aside>
                                <!-- .widget -->
                            </div>
                            <!-- .columns -->
                            <div class="columns">
                                <aside class="widget clearfix">
                                    <div class="body">
                                        <h4 class="widget-title">Customer Care</h4>
                                        <div class="menu-footer-menu-3-container">
                                            <ul id="menu-footer-menu-3" class="menu">
                                                <li class="menu-item">
                                                    <a href="login-and-register.html">My Account</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="track-your-order.html">Track Order</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="shop.html">Shop</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="wishlist.html">Wishlist</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="about.html">About Us</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="terms-and-conditions.html">Returns/Exchange</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="faq.html">FAQs</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- .menu-footer-menu-3-container -->
                                    </div>
                                    <!-- .body -->
                                </aside>
                                <!-- .widget -->
                            </div>
                            <!-- .columns -->
                        </div>
                        <!-- .footer-widgets -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .footer-widgets-block -->
                <div class="site-info">
                    <div class="col-full">
                        <div class="copyright">Copyright &copy; 2017 <a href="home-v1.html">Techmarket</a> Theme. All
                            rights
                            reserved.
                        </div>
                        <!-- .copyright -->
                        <div class="credit">Made with
                            <i class="fa fa-heart"></i> by bcube.</div>
                        <!-- .credit -->
                    </div>
                    <!-- .col-full -->
                </div>
                <!-- .site-info -->
            </div>
            <!-- .col-full -->
        </footer>
        <!-- .site-footer -->
    </div>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/assets/js/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>

</html>