<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Techmarket HTML</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/fav-icon.png">
</head>

<body class="woocommerce-active single-product full-width normal">
    <div id="page" class="hfeed site">
        <% include ../slayout/headerhome %>
        <div id="content" class="site-content" tabindex="-1">
            <% 
            rename=  function(str) {
                str = str.toLowerCase();
                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                str = str.replace(/đ/g, "d");
                str = str.replace(/ /g, "-");
                str = str.replace(/\./g, "-");
                return str;
            }
            sachDetail.forEach(function (item){
                    %>


            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="home-v1.html">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span><a href="product-category.html">
                            <%=item.ngonngu %></a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span><a href="product-category.html">
                            <%=item.theloai %></a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        <%=item.tieude %>
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="product product-type-simple">
                                <div class="single-product-wrapper">
                                    <div class="product-images-wrapper thumb-count-4">
                                        <!-- .onsale -->
                                        <div id="techmarket-single-product-gallery" class="techmarket-single-product-gallery techmarket-single-product-gallery--with-images techmarket-single-product-gallery--columns-4 images"
                                            data-columns="4">
                                            <div class="techmarket-single-product-gallery-images" data-ride="tm-slick-carousel"
                                                data-wrap=".woocommerce-product-gallery__wrapper" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;asNavFor&quot;:&quot;#techmarket-single-product-gallery .techmarket-single-product-gallery-thumbnails__wrapper&quot;}">
                                                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images"
                                                    data-columns="4">
                                                    <!-- <a href="#" class="woocommerce-product-gallery__trigger">🔍</a> -->
                                                    <figure class="woocommerce-product-gallery__wrapper ">
                                                        <%
                                                        item.hinhanh.forEach(function(i){
                                                            %>
                                                        <div data-thumb="<%=i%>" class="woocommerce-product-gallery__image">
                                                            <a href="<%=i%>" tabindex="0">
                                                                <img width="600" height="600" src="<%=i%>" class="attachment-shop_single size-shop_single wp-post-image"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                        <%
                                                        })
                                                        %>
                                                    </figure>
                                                </div>
                                                <!-- .woocommerce-product-gallery -->
                                            </div>
                                            <!-- .techmarket-single-product-gallery-images -->
                                            <div class="techmarket-single-product-gallery-thumbnails" data-ride="tm-slick-carousel"
                                                data-wrap=".techmarket-single-product-gallery-thumbnails__wrapper"
                                                data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;vertical&quot;:true,&quot;verticalSwiping&quot;:true,&quot;focusOnSelect&quot;:true,&quot;touchMove&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-up\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-down\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;asNavFor&quot;:&quot;#techmarket-single-product-gallery .woocommerce-product-gallery__wrapper&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:765,&quot;settings&quot;:{&quot;vertical&quot;:false,&quot;horizontal&quot;:true,&quot;verticalSwiping&quot;:false,&quot;slidesToShow&quot;:4}}]}">
                                                <figure class="techmarket-single-product-gallery-thumbnails__wrapper">
                                                    <%
                                                        item.hinhanh.forEach(function(i){
                                                            %>
                                                    <figure data-thumb="<%=i%>" class="techmarket-wc-product-gallery__image">
                                                        <img width="180" height="180" src="<%=i%>" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                            alt="">
                                                    </figure>
                                                    <%
                                                        })
                                                        %>
                                                </figure>
                                                <!-- .techmarket-single-product-gallery-thumbnails__wrapper -->
                                            </div>
                                            <!-- .techmarket-single-product-gallery-thumbnails -->
                                        </div>
                                        <!-- .techmarket-single-product-gallery -->
                                    </div>
                                    <!-- .product-images-wrapper -->
                                    <div class="summary entry-summary">
                                        <div class="single-product-header">
                                            <h1 class="product_title entry-title">
                                                <%=item.tieude %>
                                            </h1>
                                        </div>
                                        <!-- .single-product-header -->
                                        <div class="single-product-meta">
                                            <div class="brand">
                                                <a href="#">
                                                    <img alt="galaxy" src='https://s3-us-west-2.amazona/ws.com/da2-book/<%=item.theloai%>.jpg'>
                                                </a>
                                            </div>
                                            <div class="cat-and-sku">
                                                <span class="posted_in categories">
                                                    <a rel="tag" href="product-category.html">
                                                        <%=item.theloai%></a>
                                                </span>
                                                <span class="sku_wrapper">SKU:
                                                    <span class="sku">
                                                        <%=item.SKU %></span>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- .rating-and-sharing-wrapper -->
                                        <div class="woocommerce-product-details__short-description">
                                            <ul>
                                                <li>
                                                    Nhà xuất bản:
                                                    <%=item.nhaxuatban %>
                                                </li>
                                                <%item.tacgia.forEach(function (tg){
                                                %>
                                                <li>
                                                    Tác giả:
                                                    <%=tg%>
                                                </li>
                                                <%
                                                }) %>
                                            </ul>
                                        </div>
                                        <!-- .woocommerce-product-details__short-description -->
                                        <div class="product-actions-wrapper">
                                            <div class="product-actions">
                                                <p class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <%=item.gia+90000 %>
                                                            <span class="woocommerce-Price-currencySymbol"> đồng</span></span>
                                                    </del>
                                                    <ins>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <%=item.gia%> <span class="woocommerce-Price-currencySymbol">
                                                                đồng</span></span>
                                                    </ins>
                                                </p>
                                                <!-- .single-product-header -->
                                                <form method="POST" class="cart" action="/add_detail_to_cart/<%=item._bookID%>">
                                                    <div class="quantity">
                                                        <label for="quantity-input">Số lượng</label>
                                                        <input type="number" size="4" class="input-text qty text" title="Qty"
                                                            value="1" name="abasdjuwas" id="quantity-input">
                                                    </div>
                                                    <!-- .quantity -->
                                                    <button class="single_add_to_cart_button button alt" value="185"
                                                        name="add-to-cart" type="submit">Add
                                                        to cart</button>
                                                </form>
                                                <!-- .cart -->
                                            </div>
                                            <!-- .product-actions -->
                                        </div>
                                        <!-- .product-actions-wrapper -->
                                    </div>
                                    <!-- .entry-summary -->
                                </div>
                                <!-- .single-product-wrapper -->

                                <div class="woocommerce-tabs wc-tabs-wrapper">
                                    <ul role="tablist" class="nav tabs wc-tabs">
                                        <li class="nav-item accessories_tab">
                                            <a class="nav-link " data-toggle="tab" role="tab" aria-controls="tab-accessories"
                                                href="#tab-accessories">Sách tương tự</a>
                                        </li>
                                        <li class="nav-item specification_tab">
                                            <a class="nav-link " data-toggle="tab" role="tab" aria-controls="tab-specification"
                                                href="#tab-specification">Thông tin</a>
                                        </li>
                                        <li class="nav-item description_tab">
                                            <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="tab-description"
                                                href="#tab-description">Mô tả</a>
                                        </li>
                                    </ul>
                                    <!-- /.ec-tabs -->
                                    <div class="tab-content">
                                        <div class="tab-pane " id="tab-accessories" role="tabpanel">
                                            <div class="accessories">
                                                Cac sp lien quan
                                            </div>
                                        </div>
                                        <div class="tab-pane active" id="tab-description" role="tabpanel">
                                            <h2>Chi tiết</h2>
                                            <h1 style="text-align: center;">
                                                <%=item.tieude%>
                                            </h1>
                                            <p style="text-align: center;max-width: 1160px;margin: auto auto 60px;">
                                                <%=item.mota%>
                                            </p>
                                            <!-- <div style="text-align: center;">
                                                        <iframe width="854" height="480" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/K5OGs8a3vlM?ecver=1"></iframe>
                                                    </div>
                                                    <div class="outer-wrap">
                                                        <div class="content-info">
                                                            <h1 style="text-align: left;">Dynamic brightness
                                                                <br> reveals hidden details</h1>
                                                            <p style="text-align: left;">Nullam dignissim elit ut urna rutrum,
                                                                a fermentum mi auctor. Mauris efficitur magna orci, et dignissim
                                                                lacus
                                                                <br> scelerisque sit amet. Proin malesuada tincidunt nisl
                                                                ac commodo. Vivamus eleifend porttitor ex sit amet suscipit.
                                                                <br> Vestibulum at ullamcorper lacus, vel facilisis arcu.
                                                                Aliquam erat volutpat.</p>
                                                        </div>-->
                                            <!-- 
                                                    <div class="image-info">
                                                        <img src="/assets/images/products/des1.png" alt="">
                                                    </div>.content-info -->
                                            <!-- .image-info -->
                                        </div>
                                        <!-- .outer-wrap -->
                                        <div class="tab-pane" id="tab-specification" role="tabpanel">
                                            <div class="tm-shop-attributes-detail like-column columns-3">
                                                <h3 class="tm-attributes-title">Chung</h3>
                                                <table class="shop_attributes">
                                                    <tbody>
                                                        <tr>
                                                            <th>Tác giả</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.tacgia%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Dịch giả</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.dichgia%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>SKU</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.SKU%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Nhà xuất bản</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.nhaxuatban%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Ngày xuất bản</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.ngayxuatban%></a></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Thể loại</th>
                                                            <td>
                                                                <p><a href="#" rel="tag">
                                                                        <%=item.theloai%></a></p>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <!-- /.shop_attributes -->
                                                <h3 class="tm-attributes-title">Thông tin khác</h3>
                                                <table class="shop_attributes">
                                                    <tbody>
                                                        <tr>
                                                            <th>Kích thước</th>
                                                            <td>
                                                                <%=item.kichthuoc%>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Số trang</th>
                                                            <td>
                                                                <%=item.sotrang%>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <!-- /.shop_attributes -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="tab-pane active" id="tab-accessories" role="tabpanel">
                                        <div class="accessories">
                                            Cac sp lien quan
                                        </div>
                                    </div> -->
                                </div>
                                <!-- .section-landscape-products-carousel -->
                            </div>
                            <!-- .product -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <%
            }) %>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        <% include ../slayout/footer.ejs %>
        <!-- .site-footer -->
    </div>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/assets/js/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>

</html>